#tocho {
     background-color: #242687 !important; 
     color: #fff !important;
}
.nav-link{
  color: #fff !important;
}
label.text, label{
  text-align: left !important;
  display: inherit;
}

h5 {
  padding: 2em 0 1em;
  text-align: left;
}

.SignUpContainer {
  padding-top: 65px;
}